<header>
<div class="pure-g">
  <div class="pure-u-5-5">
    <nav>
      <div class="pure-menu pure-menu-horizontal">
        <a href="#" class="pure-menu-heading pure-menu-link"><h1>TTimer</h1></a>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><a class="pure-menu-link" href="/landing">Landing</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="/timer">Timer</a></li>
          <li class="pure-menu-item"><a class="pure-menu-link" href="/settings">Settings</a></li>
        </ul>
      </div>
    </nav>
  </div>
</div>
</header>

<section>
  <router-outlet></router-outlet>
</section>
